@font-face {
    font-family: "HouseSlant";
    src: url("resources/fonts/HouseSlant-Regular.otf"),
        url("resources/fonts/HouseSlant.woff"),
        url("resources/fonts/HouseSlant.woff2");
}

@font-face {
    font-family: "Rubik";
    src: url("url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400&display=swap')");
}

html {
    background-color: black;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #808080b8;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

.home-container {
    height: 100vh ;
    display: grid;
    grid-template-columns: 1fr 6fr repeat(3, 1fr);
    grid-template-rows: 140px 10fr 140px;
    /* grid-gap: 20px; */
}

.work-container {
    display: grid;
    grid-template-columns: .75fr 1fr 1fr .75fr;
    grid-template-rows: repeat(8, 400px);
    grid-gap: 10px;
}

a {
    display: grid;
}

.work-item {
    transition: 0.3s;
}

.work-item:hover,
.item-corner-title a:hover {
    filter: invert(0.5) sepia(1) hue-rotate(200deg) grayscale(100%);
}

img {
    place-self: center;
    width: 240px;
    height: 240px;
}

.item {
    display: grid;
    background-color: white;
    justify-content: center;
    align-items: center;
    /* border: 5px solid rgba(192, 192, 192, 0.5);
    border-radius: 3px; */
    font-size: 35px;
}

.item p {
    margin: 0, 0, 5px, 0;
}

.circle-badge-white {
    justify-content: right;
    max-width:100%;
    max-height:100%;
}

.circle-badge-black {
    justify-content: right;
    align-content: flex-end;
}

#company {
    font-family: "HouseSlant";
    font-size: 10.5em;
    color: white;
    padding-left: 25px;
    justify-content: left;
    line-height: 0.8em;
}

.item-corner-title {
    font-family: "HouseSlant";
    font-size: 2em;
    background-color: white;
    display: flex;
    display: block;
}

.item-corner-title a {
    color: black;
    transition: 0.3s;
}

.corner-title-studio {
    margin-left: 75px;
    padding: 0;
    margin-bottom: 0;
    align-content: flex-end;
}

.corner-title-gam {
    margin-left: 75px;
    padding: 0;
    margin-top: 0;
    align-content: flex-start;
}

#blurb {
    grid-column: span 3;
}

.left {
    background-color: black;
}

.menu {
    align-content: flex-start;
    padding-top: 40px;
}

#blurb,
.menu {
    font-size: 18px;
}

.menu a {
    transition: 0.3s;
}

.menu a:hover {
    color: black;
}

.menu,
#noun,
#blurb {
    padding-left: 30px;
    padding-right: 30px;
}

#noun {
    font-size: 12px;
    justify-content: left;
    grid-column: span 3;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: #808080b8;
}

#quote {
    margin-bottom: 15px;
}

#title {
    font-style: italic;
}

.notyet {
    font-family: "HouseSlant";
    color: white;
    font-size: 10em;
    text-align: center;
}