@font-face {
    font-family: "HouseSlant";
    src: url("resources/fonts/HouseSlant-Regular.otf"),
        url("resources/fonts/HouseSlant.woff"),
        url("resources/fonts/HouseSlant.woff2");
}

@font-face {
    font-family: "Rubik";
    src: url("url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400&display=swap')");
}

html {
    background-color: rgb(66, 135, 245);
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #808080b8;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

.container {
    height: 98vh ;
    display: grid;
    grid-template-columns: 1fr 6fr repeat(3, 1fr);
    grid-template-rows: 1fr 10fr 1fr;
    /* grid-gap: 20px; */
}

.item {
    display: grid;
    background-color: white;
    justify-content: center;
    align-items: center;
    /* border: 5px solid rgba(192, 192, 192, 0.5);
    border-radius: 3px; */
    font-size: 35px;
}

.item p {
    margin: 0, 0, 5px, 0;
}

#company {
    font-family: "HouseSlant";
    font-size: 10.5em;
    color: white;
    padding-left: 25px;
    justify-content: left;
    line-height: 0.8em;
}

#blurb {
    grid-column: 3 / span 3;
}

.left {
    background-color: black;
}

#blurb,
.menu {
    font-size: 18px;
}

.menu,
#noun,
#blurb {
    padding-left: 30px;
    padding-right: 30px;
}

#noun {
    font-size: 12px;
    justify-content: left;
    grid-column: 3 / span 3;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: #808080b8;
}

#title {
    font-style: italic;
}

.notyet {
    font-family: "HouseSlant";
    color: white;
    font-size: 10em;
    text-align: center;
}